.about {
    text-align: center;
    margin: auto;
    margin-top: 10vh;
    width: fit-content;
    min-width: 500px;
    h1 {
        background-color: #29b6f6;
        color: white;
        height: 1.6em;
        width: 100%;
        font-size: 1.75em;
        border-radius: 50%;
        border: 2px solid black;
        border-bottom: 10px solid black;
        margin: 0;
    }
}