.toy-filter-cmp {
    display: flex;
    align-items: center;

    &>*:not(last-child) {
        margin-right: 10px;
        text-align: center;
    }
}

.search-bar {
    width: 50%;
}

.labels-filter {
    width: 35%;
}

.checkbox-container {
    display: flex;
    justify-content: center;
}